/* global Section*/

*{margin: 0; padding: 0;  box-sizing: border-box;}
a{text-decoration: none;}
.btn{ background-color: #1d4ed8; color: white; border-radius: 5px; cursor: pointer; border: none; outline: none;}
.btn:hover { background-color: #007bff;}
body {font-family: 'Inter', sans-serif;}

/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1.1rem 4rem;
    text-align: center;
}

/* navbar unorder list section */

nav ul {
    display: flex;          
    list-style: none;
    gap: 30px;             
}

nav ul li a {
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #007bff;
}

/* navbar button section */

.navbar .btn {
    padding: 0.625rem 1.5625rem;
    font-size: 1rem; 
}

/*hero section */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero .hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.hero .hero-content h1{
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
}

.hero .hero-content p{
    font-size: 1.2rem;
    max-width: 40rem;
    margin-bottom: 16.5rem;
}

.hero .hero-content .btn{
    padding: 1.1rem 3.1rem;
    font-size: 1.2rem;
}

/* Speakers Section */
.speakers {
    padding: 5.5rem 4rem;
    background-color: #f8fafc;
}

.speakers-heading {
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 2rem;
    max-width: 900px;
    margin: 3rem auto;
}

.speaker-card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.speaker-card:hover {
    transform: translateY(-5px);
}

.speaker-card img {
    width: 100%;
    aspect-ratio: 1 / 0.6;
    object-fit: cover;
}

.speaker-info {
    padding: 1.5rem;
}

.speaker-info .tag {
    display: inline-block;
    color: #1d4fd8c0;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.speaker-info h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.speaker-info p {
    font-size: 0.95rem;
    color: #475569;
    margin: 0;
}
